.letter {
  padding: 20px;

  background: #fff5f7;

  border-radius: 15px;

  border: 2px dashed #ffb7c5;

  margin-bottom: 20px;

  cursor: pointer;

  transition: 0.3s;
}

.letter-header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 15px;
}

#love-letter h2 {
  padding: 5px;
}

.letter h3 {
  font-family: "Dancing Script", cursive;

  font-size: 28px;

  color: #d81b60;
}

.letter-content {
  max-height: 0;

  overflow: hidden;

  transition: max-height 0.5s ease;
}

.letter.expanded .letter-content {
  max-height: 2000px;
}
